#me {
  border-radius: 100px;
}

body {
/*  font-family: Impact, Charcoal, sans-serif;*/
}

h1, h2, h3, h4, h5, h6 {
  font-family: Impact, Charcoal, sans-serif;
}

.description {
  max-width: 480px;
  margin: auto;
}

.row {
  padding-left: 3%;
  padding-right: 3%;
}

.carousel-inner>.item>img, .carousel-inner>.item>a>img {
  display: block;
  height: 500px;
  line-height: 1;
  margin: auto;
}

.everything {
  background-color: #fff;
}
.me {
  background-color: #fff;
  width: 100%;
  margin: auto;
  min-width: 280px;
  padding-left: 3%;
  padding-right: 3%;
  padding-bottom: 3%;
}
.me p {
  max-width: 700px;
  margin: auto;
}
.container {
  padding-left: 0px;
  padding-right: 0px;
}
.willPic {
  height: 150px;
}

.carousel-caption h3, .carousel-caption p {
  color: black;
}
a.carousel-control.left, a.carousel-control.right {
  background-color: none;
  background: none;
  background-image: none;
}

.glyphicon {
  color: black;
}
div.personalLinks {
  width: 100%;
}
.personalLinks img {
  width: 5%;
  min-width: 50px;
  margin-left: 1.8%;
  margin-right: 1.8%;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.header {
  margin-bottom: 10px;
}

h1{
  border-bottom: none;
}